<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>The total number of movies : {{$ctrl.movies.length}}</p>
      <p>Number of movies reserved : {{$ctrl.reservedItemCount()}}</p>

    </div>
    <div class="col-md-10">
      <ul class="movies">
        <li ng-repeat="movie in $ctrl.movies" class="movie-list-item">
          <img ng-src="{{movie.imageUrl}}" alt="{{movie.name}}" class="thumb"/>
          <span>{{movie.name}}</span>
          <p>{{movie.snippet}}</p>
          <div class="col-sm-2">
              <button ng-click="$ctrl.reserveItem(movie)" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!movie.reserved]">{{movie.reserved?"Return":"Reserve"}}</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
